<form method="post" action="{{ path('randonnee_delete', {'id': randonnee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ randonnee.id) }}">
    <button class="btn">Delete</button>
</form>
