{% extends 'base.html.twig' %}

{% block title %}Edit Randonnee{% endblock %}

{% block body %}
    <h1>Edit Randonnee</h1>

    {{ include('randonnee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('randonnee_index') }}">back to list</a>

    {{ include('randonnee/_delete_form.html.twig') }}
{% endblock %}
